<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SFROofs Safety Monitor" Language="1033" Version="1.0.0.0" Manufacturer="SFROof Development" UpgradeCode="A1B2C3D4-E5F6-4A4A-8B8B-123456789ABC">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Description="ASCOM Safety Monitor for SFROof observatories" />
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Launch condition to check for ASCOM Platform -->
    <Condition Message="ASCOM Platform 6.5 or later is required. Please install it from https://www.ascom-standards.org">
      <![CDATA[ASCOMPLATFORM >= "6.5"]]>
    </Condition>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ASCOMFOLDER" Name="ASCOM">
          <Directory Id="INSTALLFOLDER" Name="SFROofsSafetyMonitor"/>
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="A1B2C3D4-E5F6-4A4A-8B8B-123456789ABC">
        <File Id="MainDLL" Source="..\publish\SFROofsSafetyMonitor.dll" KeyPath="yes" />
        <File Source="..\publish\SFROofsSafetyMonitor.pdb" />
        <File Source="..\publish\ASCOM.DeviceInterfaces.dll" />
        <File Source="..\publish\ASCOM.Exceptions.dll" />
        <File Source="..\publish\Newtonsoft.Json.dll" />
        <File Source="..\publish\System.Configuration.ConfigurationManager.dll" />
        <File Source="..\publish\System.Security.AccessControl.dll" />
        <File Source="..\publish\System.Security.Permissions.dll" />
        <File Source="..\publish\System.Security.Principal.Windows.dll" />
        <File Source="..\publish\roofs.json" />
        
        <!-- ASCOM Platform registration -->
        <RegistryKey Root="HKLM" Key="SOFTWARE\ASCOM\SafetyMonitor Drivers\ASCOM.SFROofsSafetyMonitor.SafetyMonitor">
          <RegistryValue Type="string" Value="SFROofs Safety Monitor" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <!-- Use regasm from .NET Framework for COM registration -->
    <CustomAction Id="RegisterASCOM" Directory="INSTALLFOLDER" 
                  ExeCommand="&quot;[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\regasm.exe&quot; &quot;[INSTALLFOLDER]SFROofsSafetyMonitor.dll&quot; /codebase /tlb" 
                  Execute="deferred" Impersonate="no" Return="ignore" />
    
    <CustomAction Id="UnregisterASCOM" Directory="INSTALLFOLDER" 
                  ExeCommand="&quot;[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\regasm.exe&quot; &quot;[INSTALLFOLDER]SFROofsSafetyMonitor.dll&quot; /unregister" 
                  Execute="deferred" Impersonate="no" Return="ignore" />
    
    <!-- Custom action to check ASCOM Platform version -->
    <Property Id="ASCOMPLATFORM">
      <RegistrySearch Id="ASCOMPlatformSearch" Root="HKLM" Key="SOFTWARE\ASCOM" Name="PlatformVersion" Type="raw" />
    </Property>
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
    
    <InstallExecuteSequence>
      <Custom Action="RegisterASCOM" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="UnregisterASCOM" Before="RemoveFiles">Installed AND REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>